.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex: 1;
    min-width: 250px;
    margin-bottom: 10px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

.footer-nav a:hover {
    color: yellow;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    margin-right: 10px;
    display: inline-block;
}

.footer-socials img {
    width: 24px;
    height: 24px;
}

.icon{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
}

.icon:hover{
    color: yellow;
}

.footer-right a{
    text-decoration: none;
    color: white;
}
.footer-right a:hover{
    color: yellow;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 10px;
    }
}